@import 'ember-power-select';

#app-grid {
  display: grid;
  grid-template:
    "navbar" 2rem
    "content" calc(100vh - 2rem)
    / 100vw;
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
}

@keyframes dropFadeBelow {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}

@keyframes dropFadeAbove {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(-3px);
  }
}

// When opening below the trigger
.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: dropFadeBelow .25s;
}

.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: dropFadeBelow .25s reverse;
}

// When opening above the trigger
.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-in {
  animation: dropFadeAbove .25s;
}

.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-out {
  animation: dropFadeAbove .25s reverse;
}
