@import "tailwindcss";

/* stylelint-disable selector-class-pattern */
.round > div {
  margin-bottom: 1rem;
}

.round > div:last-child {
  margin-bottom: 0;
}

.round .team--top::after,
.round .team--bottom::after {
  content: "";
  border-left: none;
  height: calc(50% + 1rem);
  left: 100%;
  width: 2rem;

  @apply absolute border-2 border-stone-600;
}

.round .team--top::after {
  border-bottom: none;
  top: 50%;
}

.round .team--bottom::after {
  border-top: none;
  bottom: 50%;
}

.round2 .team--top::after,
.round2 .team--bottom::after {
  height: calc(100% + 2rem);
}

.round2 .team::before,
.team--wc::before {
  content: "";
  right: 100%;
  bottom: 50%;
  width: calc(2rem + 0.25rem);

  @apply absolute border-b-2 border-stone-600;
}

.finals .team--left {
  margin-right: 4rem;
}

.finals .team--right {
  margin-left: 4rem;
}

.finals .team::after,
.finals .team::before {
  content: " ";
  height: calc(50% + 0.5rem);
  top: 50%;
  width: calc(2rem + 0.25rem);

  @apply absolute border-t-2 border-stone-600;
}

.finals .team::after {
  left: 100%;
}

.finals .team::before {
  right: 100%;
}

.round:not(:first-child, :last-child) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.round.round--right .team--top::after,
.round.round--right .team--bottom::after {
  right: 100%;
  left: unset;
  border-right: none;

  @apply border-l-2 border-stone-600;
}

.round2.round--right .team::before,
.round--right .team--wc::before {
  right: unset;
  left: 100%;
}
/* stylelint-enable selector-class-pattern */
