@import 'tailwindcss';

/* stylelint-disable selector-class-pattern */
.round > div {
  @apply mb-4;
}

.round > div:last-child {
  @apply mb-0;
}

.round .team--top::after,
.round .team--bottom::after {
  content: '';
  height: calc(50% + 1rem);

  @apply absolute w-8 border-2 border-stone-600;
}

.round .team--top::after {
  border-bottom: none;

  @apply top-1/2;
}

.round .team--bottom::after {
  border-top: none;

  @apply bottom-1/2;
}

.round2 .team--top::after,
.round2 .team--bottom::after {
  height: calc(100% + 2rem);
}

.round2 .team::before,
.team--wc::before {
  content: '';
  width: calc(2rem + 0.25rem);

  @apply absolute right-full bottom-1/2 border-b-2 border-stone-600;
}

.finals .team--left {
  @apply mr-16;
}

.finals .team--right {
  @apply ml-16;
}

.finals .team::after,
.finals .team::before {
  content: ' ';
  height: calc(50% + 0.5rem);
  width: calc(2rem + 0.25rem);

  @apply absolute top-1/2 border-t-2 border-stone-600;
}

.finals .team::after {
  @apply left-full;
}

.finals .team::before {
  @apply right-full;
}

.round:not(:first-child, :last-child) {
  @apply my-8;
}

.round.round--right .team--top::after,
.round.round--right .team--bottom::after {
  @apply right-full border-r-0 border-l-2 border-stone-600;
}

.round.round--left .team--top::after,
.round.round--left .team--bottom::after {
  @apply left-full border-l-0 border-r-2;
}

.round2.round--right .team::before,
.round--right .team--wc::before {
  right: unset;

  @apply left-full;
}
/* stylelint-enable selector-class-pattern */
