@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable selector-class-pattern */
.ember-power-select-trigger {
  @apply bg-transparent border-stone-50 border-2 px-3 py-2;
}

.ember-power-select-trigger--active {
  @apply border-stone-50 border-2 !important;
}

.ember-power-select-placeholder {
  @apply text-stone-50;
}

.ember-power-select-dropdown {
  @apply border-2 border-stone-50 !important;
}

.ember-power-select-search,
.ember-power-select-options {
  @apply bg-stone-800 text-stone-100;
}

.ember-power-select-search {
  @apply pb-4;
}

.ember-power-select-option {
  @apply py-1 bg-stone-900 text-stone-50;
}

.ember-power-select-search-input {
  @apply border-stone-700 rounded-md bg-transparent focus:ring-crimson-900 focus:border-crimson-900;
}

.ember-power-select-group-name + .ember-power-select-options {
  @apply my-2;
}

.ember-power-select-option[aria-current="true"] {
  @apply bg-crimson-900;
}

.ember-power-select-option[aria-selected="true"] {
  @apply bg-crimson-950;
}

@keyframes drop-fade-below {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}

@keyframes drop-fade-above {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(-3px);
  }
}

.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below 0.25s;
}

.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below 0.25s reverse;
}

.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-above 0.25s;
}

.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-above 0.25s reverse;
}
/* stylelint-enable selector-class-pattern */

table.player-table tbody tr:nth-of-type(2n) {
  @apply bg-stone-800;
}

table.player-table tbody tr:nth-of-type(2n) td {
  @apply bg-stone-800;
}

table.player-table tbody tr:nth-of-type(2n + 1) {
  @apply bg-stone-700;
}

table.player-table tbody tr:nth-of-type(2n + 1) td {
  @apply bg-stone-700;
}

#app-grid {
  display: grid;
  grid-template:
    "navbar" 2rem
    "content" calc(100vh - 2rem)
    / 100vw;
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
}
