<div class="overflow-auto w-screen h-home">
  <div class="flex flex-row flex-wrap items-center justify-center">
    {{#if this.model.inProgress}}
      <Scorebug @game={{this.model}} @disableClick={{true}} />
    {{/if}}
    <Boxscore @game={{this.model}} />
  </div>
  <Players class="w-full" @game={{this.model}} />
</div>
{{! TODO: auto refresh if game not over }}