{{page-title "Baseball"}}

<div class="home h-home overflow-auto w-full flex flex-col items-center">
  <ScorebugList
    class="w-full overflow-auto mb-4 flex flex-row flex-wrap gap-y-4 gap-x-2 md:justify-center p-2 md:p-4"
    @date={{this.selectedDate}}
    @onUpdate={{fn (mut this.selectedDate)}}
  />
</div>