<div class="home h-home overflow-auto w-screen flex flex-col items-center">
  <div class="mt-4">
    <DatePicker @date={{this.selectedDate}} @onUpdate={{fn (mut this.selectedDate)}} />
  </div>
  {{!-- scorebuglist, class=rounded --}}
  <Scorebug::List
    class="w-full overflow-auto flex flex-row flex-wrap md:justify-center p-2 md:p-4"
    @date={{this.selectedDate}}
  />
</div>